* {
  margin: 0;
  padding: 0;
}

.hasWrapper {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.hasWrapper:has(h1) {
  color: violet;
}

.hasItme1 {
  width: 100%;
  background-color: blue;
}
.hasItem2 {
  width: 100%;
  background-color: blanchedalmond;
}

ul li:not(:first-of-type) {
  color: red;
}
