.box {
  margin: 0 auto;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .test {
    /* display: none; */
    background-color: #f1f1f1;
    border: 5px solid black;
    span {
      display: block;
      color: black;
      padding: 12px 16px;
      border: 1px solid black;
      transition: opacity 0.5 ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  input:focus {
    background-color: lightblue;
  }

  input:focus + .test {
    display: block;
  }
}
