.NewSliderContainer {
  display: flex;
  gap: 10px;
  margin: 0 10px 10px 10px;
  padding: 10px;
  height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  div {
    position: relative;
    text-align: center;
    height: 100%;
    transition: all 200ms ease-in-out;
    img {
      height: 100%;
    }
    span {
      display: none;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      background-color: #1e1f26;
      transform: translate(-50%, -50%);
    }
    &:hover {
      span {
        display: block;
      }
      transform: scale(1.1);
    }
  }
}

.NewSliderContainer::-webkit-scrollbar {
  height: 10px;
}
.NewSliderContainer::-webkit-scrollbar-track {
  background: white;
}
.NewSliderContainer::-webkit-scrollbar-thumb {
  background-color: gray;
}
