* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #1e1f26;
  color: white;
}

/* .cssGridTest {
  display: grid;
  grid-template-columns: [a] 1fr [b] 1fr [c] 1fr [d] 1fr [e] 1fr;
}

.a {
  grid-column: a;
}

.b {
  grid-column: b;
}

.c {
  grid-column: c;
}

.d {
  grid-column: d;
}

.e {
  grid-column: e;
} */
