* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #1e1f26;
  color: white;
}
.calendarWrapper {
  width: 40%;
  margin: auto;
  border: 1px solid gray;
  .calendarInfo {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    span {
      text-align: center;
      justify-self: center;
      grid-column: 2;
      grid-row: 2;
      h3,
      h1 {
        &:hover {
          color: gray;
          cursor: default;
        }
      }
    }
    .arrowRight {
      grid-column: 3;
      grid-row: 2;
      justify-self: right;
    }
    .arrowLeft {
      grid-column: 1;
      grid-row: 2;
      justify-self: left;
    }
    .arrowLeft,
    .arrowRight {
      align-self: center;
      width: 40px;
      height: 50px;
      &:hover {
        color: gray;
      }
    }
  }

  .Calendar {
    display: grid;
    grid-template-columns: [mo] 1fr [tu] 1fr [we] 1fr [th] 1fr [fr] 1fr [sa] 1fr [su] 1fr;
    grid-template-rows: repeat(auto, 100px);
    div {
      text-align: center;
      font-weight: bold;
    }

    .today {
      background-color: #ddd;
      color: black;
    }
    .weekday {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ddd;
      color: black;
      height: 2rem;
      width: 100%;
    }
    .day {
      min-height: 70px;
      border: 1px solid gray;
      text-align: end;
      &:hover {
        opacity: 0.5;
      }
    }
    .event {
      grid-column: mo/we;
      background-color: red;
      width: 100%;
    }
  }
}

.UserChangeMonthYear {
  margin: auto;
  padding: 10px;
  border: 1px solid #ddd;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto, 100px);
  grid-gap: 10px;
  background-color: #ddd;
  color: black;
  p {
    padding: 5px;
    text-align: center;
    border: 1px solid gray;
    font-weight: bold;
    cursor: default;
    &:hover {
      opacity: 0.5;
      box-shadow: 3px 3px;
    }
  }
  button {
    grid-column: 3;
    font-size: large;
    background-color: red;
    border: none;
    &:hover {
      /* opacity: 0.5; */
      box-shadow: 3px 3px;
    }
  }

  form {
    grid-column: 1/4;
    justify-self: center;
  }

  .fromErrorMsg {
    grid-column: 1/4;
    justify-self: center;
    color: red;
    font-size: large;
    font-weight: bold;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.monday {
  grid-column: mo;
}

.tuesday {
  grid-column: tu;
}

.wednesday {
  grid-column: we;
}

.thursday {
  grid-column: th;
}

.friday {
  grid-column: fr;
}

.saturday {
  grid-column: sa;
}

.sunday {
  grid-column: su;
}

@media only screen and (max-width: 600px) {
  .calendarWrapper {
    width: auto;
    margin: 10px;
  }
  .UserChangeMonthYear {
    width: auto;
  }
}
