
@page "/"
@using myapp.classes;

<div class="wrapper">
    <p>todo</p> <br>
        <input type="text" @oninput="@((e) => { inputValue=(string)e.Value;})" @onkeydown="@idk">
     <div>
        @foreach (var item in @todoList)
        {
         <div>
            <p> @item.Title </p>
            <p>@item.Id</p>
            </div>   
        }
     </div> 
</div>

@code{
    private string inputValue;
    private string test;
   List<Todos> todoList = new List<Todos>();

public void idk(KeyboardEventArgs args) {
    if(args.Key == "Enter"){
        todoList.Add(new Todos(inputValue, false) );
    }

}
}


