.bgClose {
  position: fixed;
  z-index: -1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.AnimeInfoPopUp {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  .AnimeInfoContent {
    z-index: 2;
    background-color: #232946;
    color: white;
    margin: auto;
    padding: 20px;
    border: 3cpx solid #888;
    width: 60%;
    height: 60%;
    max-height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: minmax(30px, auto) 1fr;
    img {
      grid-row: 2;
      height: 100%;
      object-fit: fill;
      align-self: center;
      justify-self: center;
      overflow: hidden;
    }
    .close {
      grid-column: 3;
      justify-self: end;
      align-self: flex-start;
      font-weight: bold;
      font-size: 1.5rem;
      cursor: default;
      transition: all 200ms ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }
    .animeTitle {
      grid-column: 1/3;
    }
    .animeTest {
      grid-column: 2/4;
      grid-row: 2;
      display: flex;
      flex-direction: column;
    }
    .animeSynopsis {
      max-height: 100px;
      overflow: hidden;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    .open {
      max-height: 100%;
      transition: max-height 0.5s cubic-bezier(0.9, 0, 0.8, 0.2);
    }
    .text {
      padding: 5px;
      border: 1px solid #ccc;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 12px 0;
      -webkit-line-clamp: 3;
    }
    .open .text {
      -webkit-line-clamp: 8;
      overflow-y: auto;
    }
  }
}
