.bgClose {
  position: fixed;
  z-index: -1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.AnimeInfoPopUp {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .AnimeInfoContent {
    z-index: 3;
    background-color: #232946;
    color: white;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 5% 1fr 1fr;
    grid-template-rows: minmax(30px, auto) 1fr;
    overflow: hidden;

    .animeTitle {
      grid-column: 1/4;
    }
    .imageCover {
      grid-column: 1;
      grid-row: 2/4;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100%;
        width: auto;
      }
    }
    .animeInfoTextWrapper {
      grid-column: 3;
      grid-row: 2;
    }

    .close {
      justify-self: end;
      align-self: flex-start;
      font-weight: bold;
      font-size: 1.5rem;
      cursor: default;
      transition: all 200ms ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }
    .epWrapper {
      grid-row: 2;
      grid-column: 4;
      display: flex;
      flex-direction: column;
      .epTitle {
        font-size: larger;
        text-align: center;
      }
      .eps {
        align-self: center;
        height: 200px;
        max-height: 250px;
        width: 50%;
        overflow-y: auto;
        border: 1px solid black;
        background-color: #f1f1f1;
        text-align: center;
        transition: opacity 0.2 ease-in-out;
        a {
          color: black;
          text-decoration: none;
          display: block;
          border-bottom: 1px solid black;
          padding: 10px;
          margin: 5px;
          cursor: pointer;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    .addToFervervt {
      color: yellow;
      transition: opacity 0.2s ease-in-out;
      grid-column: 2;
      align-self: flex-start;
      justify-self: flex-end;
      &:hover {
        opacity: 0.5;
      }
    }
    .animeInfoText {
      font-size: larger;
      font-weight: bold;
      span {
        font-weight: normal;
        margin-left: 10px;
      }
    }
    .animeSynopsisWrapper {
      grid-column: 2/5;
      display: flex;
      flex-direction: column;
    }
    .animeSynopsis {
      max-height: 120px;
      overflow: hidden;
      transition: max-height 0.5s ease-in-out;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      font-size: larger;
      padding: 5px;
      border: 1px solid #ccc;
      padding: 10px;
      line-height: 130%;
      -webkit-line-clamp: 3;
    }
    button {
      font-size: large;
      color: black;
      background-color: #eebbc3;
      transition: 200ms ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }

    .open {
      max-height: 100%;
      -webkit-line-clamp: 8;
      overflow-y: auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .AnimeInfoPopUp {
    padding: 0;
    .AnimeInfoContent {
      grid-template-columns: 1fr 1fr 10%;
      grid-template-rows: 1fr 1fr;
      overflow-y: auto;
      grid-gap: 10px;
      width: 100%;
      height: 100%;
      .animeTitle {
        grid-column: 1/3;
      }
      .close {
        grid-column: 3;
      }
      .imageCover {
        width: 100%;
        grid-column: 1/4;
        grid-row: 4;
        display: flex;
        justify-content: center;
        img {
          max-width: 100%;
          height: 100%;
        }
      }
      .animeInfoTextWrapper {
        grid-column: 1/4;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        //works
        //overflow-wrap: break-word;
        .animeInfoText {
          display: flex;
          flex-wrap: wrap;
          span {
            margin-left: 5px;
          }
        }
      }
      .animeSynopsisWrapper {
        grid-column: 1/4;

        button {
          font-size: larger;
          color: black;
          &:hover {
            opacity: 1;
          }
        }
      }

      .epWrapper {
        grid-column: 1/4;
        grid-row: 5;
        height: 100px;
        .eps {
          width: 100%;
          display: flex;
          align-items: center;
          overflow-y: hidden;
          overflow-x: auto;
          a {
            padding: 20px;
            border: 1px solid black;
          }
        }
      }
      .addToFervervt {
        grid-column: 3;
      }
    }
  }
}
