.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .favortieWrapper {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto-fil);
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    .profileEmail {
      align-self: center;
      grid-column: 1;
      text-align: start;
      font-size: 20px;
    }
    .favortieAnimesTitle {
      align-self: center;
      grid-column: 1/4;
      grid-row: 1;
      text-align: center;
      font-size: 2rem;
    }

    .signOutBtn,
    .deleteUser {
      justify-self: end;
      padding: 10px;
      width: 50%;
      transition: 200ms ease-in-out;
      background-color: $buttomPrimary-color;
      font-size: larg;
      font-weight: bold;
      color: black;
      &:hover {
        opacity: 0.5;
      }
    }

    .signOutBtn {
      grid-column: 3;
    }

    .deleteUser {
      background-color: $buttomSecondary-color;
      grid-column: 3;
    }

    .animeCard {
      display: grid;
      /* transition: opacity 250ms ease-in-out; */
      transition: scale 250ms ease-in-out;
      grid-template-columns: 100%;
      grid-template-rows: 100%;
      span {
        z-index: 1;
        grid-row: 1;
        grid-column: 1;
        justify-self: center;
        align-self: center;
        text-align: center;
        background-color: #1e1f26;
        width: 100%;
        display: none;
      }
      img {
        -webkit-user-drag: none;
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        height: auto;
        align-self: center;
      }
      &:hover {
        span {
          display: block;
        }
        scale: 1.1;
      }
    }
    .pagesWrapper {
      grid-column: 1/4;
      justify-self: center;
      font-size: 1.5rem;
      svg {
        transition: opacity 200ms ease-in-out;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

.deleteUserContainer {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  .deleteUserContent {
    z-index: 3;
    background-color: #232946;
    color: white;
    margin: auto;
    padding: 20px;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    p {
      font-size: 1.5rem;
      font-weight: bolder;
    }
    div {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      button {
        padding: 20px;
        font-size: 1rem;
        transition: opacity 200ms ease-in-out;
        &:hover {
          opacity: 0.5;
        }
      }
      .yes {
        background-color: $buttomPrimary-color;
      }
      .no {
        background-color: $buttomSecondary-color;
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .profileContentWrapper {
    .favortieWrapper {
      width: 90%;
      grid-template-columns: 1fr 1fr;
      .favortieAnimesTitle {
        grid-column: 1/3;
        grid-row: 1;
        font-size: 2.5rem;
      }
      .profileEmail {
        grid-column: 1;
        text-align: start;
      }
      .pagesWrapper {
        margin-top: 10px;
        grid-column: 1/3;
        font-size: 1.5rem;
      }
      .deleteUser {
        grid-column: 2;
      }
      .animeCard {
        &:hover {
          scale: 1;
        }
      }
      .deleteUser,
      .signOutBtn {
        &:hover {
          opacity: 1;
        }
        border: 1px solid gray;
      }
    }
  }
  .deleteUserContainer {
    .deleteUserContent {
      width: 100%;
    }
  }
}
