:root {
  background-color: #232946;
  color: white;
  a {
    color: white;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

header {
  background-color: var(#484266);
  width: 100%;
  display: grid;
  grid-template-columns: 5% 20% 1fr 20% 5%;
}
h1 {
  grid-column: 3;
  justify-self: center;
  margin: 10px;
}
